# Python Lists

In [ ]:
# A collection of objects separated by comma. It is Ordered, Mutable, can stores any number of heterogenous data.

#### Creating a list

In [1]:
l1 = [1, 2, 3]
print(type(l1))

<class 'list'>

#### Creating empty list

In [2]:
l2 = list()
l3 = []
print(type(l2), type(l3))

<class 'list'> <class 'list'>

In [26]:
# Two empty lists do not share the same memory location
l1 = []
l2 = []
l1 is l2

False

#### methods associated with lists

In [30]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### Iterating through list:

In [16]:
l = [10, 20, 30, 40]
for i in range(len(l)):
    print(l[i], end = "    ")

10    20    30    40

In [15]:
# Modified forloop:
for i in l:
    print(i, end = "    ")

10    20    30    40

In [17]:
# accessing index and value simultaneously:
for index, value in enumerate(l):
    print(index, value, sep = " : ")

0 : 10
1 : 20
2 : 30
3 : 40

#### Creating iterator object

In [20]:
iter_obj = iter(l)
for i in range(len(l)):
    print(next(iter_obj))

10
20
30
40

#### converting string to list

In [31]:
s = "abra ka dabra"
print(list(s))
print(s.split())

['a', 'b', 'r', 'a', ' ', 'k', 'a', ' ', 'd', 'a', 'b', 'r', 'a']
['abra', 'ka', 'dabra']

#### list comprehension

In [32]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[[j for j in range(1, 4)] for i in range(7, 10)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

#### magic methods associated with lists

In [6]:
[1, 2, 3].__add__([4, 5])

[1, 2, 3, 4, 5]

In [9]:
[1, 2, 5, 7].__contains__(2)

True

In [11]:
[1, 2].__mul__(3)

[1, 2, 1, 2, 1, 2]

#### Mutable nature of lists

In [4]:
l1 = [11, 78, 34, 56, 89]
print(id(l1))
l1[2] = 70
print(l1)
print(id(l1))               # id remains the same since lists are mutable

2623524569472
[11, 78, 70, 56, 89]
2623524569472

In [5]:
s1 = 'hello'
s2 = s1[:]                 # strings are immutable, same strings occupy the same place in the memory
print(s1 is s2)             # strings are interned i.e. no separate copy of the same string is made
l1 = [1, 2, 3]
l2 = l1[:]                 # list slicing creates a new copy in the memory 
print(l1 is l2)

True
False

In [6]:
l1 = [11, 78, 34, 56, 89]
print(id(l1))
l1[1:-1] = ['a', 'b', 'c', 'd']      # list can shrink or expand 
print(l1)
print(id(l1))

2623524327616
[11, 'a', 'b', 'c', 'd', 89]
2623524327616

In [9]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
print(l1[2:3])
l1[2:3] = [1, 0, 8]
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623524563392
[34]
[11, 78, 1, 0, 8, 56, 89] 2623524563392

In [12]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
print(l1[2:3])
l1[2:3] = 108          # list slicing results a list so it is to be assigned with an iterable only
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623552569088
[34]

TypeError: can only assign an iterable

In [13]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
print(l1[2:3])
l1[2:3] = 1, 0, 8          # list slicing results a list so it is to be assigned an iterable only
print(l1, id(l1))          # here a tuple

[11, 78, 34, 56, 89] 2623553019712
[34]
[11, 78, 1, 0, 8, 56, 89] 2623553019712

In [14]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
print(l1[2:3])
l1[2:3] = '108'     # list slicing results a list (iterable) so it is to be assigned an iterable only
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623553093056
[34]
[11, 78, '1', '0', '8', 56, 89] 2623553093056

In [16]:
list('108')

['1', '0', '8']

In [10]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
print(l1[2])
l1[2] = [7, 8, 6]            # The integer 34 is replaced by a list
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623524570560
34
[11, 78, [7, 8, 6], 56, 89] 2623524570560

In [18]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
print(l1[2])
l1[2] = 7, 8, 6            # 7, 8, 6 is a tuple
print(l1, id(l1))          # The integer 34 is replaced by a tuple

[11, 78, 34, 56, 89] 2623553093184
34
[11, 78, (7, 8, 6), 56, 89] 2623553093184

In [19]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
# If we want to put some elements without removing any element between 78 and 34 
l1[2:2] = 1, 0, 8             # Zero length slice
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623553093056
[11, 78, 1, 0, 8, 34, 56, 89] 2623553093056

In [20]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
l1[2:] = []                 # deleting contiguous elements by assigning list slice to the empty list
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623552700288
[11, 78] 2623552700288

In [21]:
l1 = [11, 78, 34, 56, 89]
print(l1, id(l1))
del l1[2:]
print(l1, id(l1))

[11, 78, 34, 56, 89] 2623553093184
[11, 78] 2623553093184

In [22]:
t1 = (1, 2, 3, 4, 5)
t2 = t1[:]             # Since tuples are immutable, slicing points at the same memory location
t1 is t2            # For immutable objects, slicing creates a shalllow copy

True

In [1]:
l = [1, 2, 3, 4, 5]
l1 = list(l)                   # Creating deep copy
l1[5:] = [6, 7, 8]
l2 = l.copy()                  # l.copy() exists for the lists as well
l2 += [6, 7, 8]
l3 = list(l)
l3.extend([6, 7, 8])          # l.extend() returns None but updates l 
l, l1, l2, l3

([1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7, 8])

### Be careful while Mutating iterable during iteration :

In [10]:
# obtaing updated list after removing all elements divisible by 3........
l1 = [1, 2, 3, 6, 4, 5]
for i in l1:
    if i % 3 == 0:
        l1.remove(i)
print(l1)

[1, 2, 6, 4, 5]

#### List repetition concept:

In [22]:
l1 = [[1, 2, 3]] * 3          
l1

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [23]:
l1[1][1] = 100
l1

[[1, 100, 3], [1, 100, 3], [1, 100, 3]]

Reason : All the repeting elements refer to the same object in the memory.
         So mutating index of any element means we are making changes in the object itself.
         Therefore, the changes get reflected in all the repeating elements.

Methods : 'append', 'clear', 'copy', 'count', 'extend', 'list.index(val) returns ValueError, Costly Operation', 
          'list.insert(idx, val)', 'list.pop(idx = -1) returns the popped element', 'list.remove(val) returns ValueError', 'reverse', 'sort'
           sum(list), len(list), max(list), min(list)
Concepts : 
=======> Zero based indexing, supports negative indexing, list slicing with or without steps possible, zero length slicing                possible
=======> sort(list) vs sorted(list), reverse(list) vs reversed(list)
=======> tuple packing and unpacking
=======> Mutating iterable during iteration
=======> any(list), all(list)